html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 0.8em;
}

ul {
  /*margin-top: 4em;*/
  font-size: 1em;
  margin-left: none;
  margin-right: 20px;
}

li {
  list-style-type: none;
  margin-left: none;
  text-align: left;
  padding-top: 0.5em;
/*  float: right;*/
/*  display: inline;*/
}

a {
  text-decoration: none;
}

a.nav {
  color: navy;
}

a.nav:hover, a.nav:active {
  color: #aec7e8;
}

h1, .title {
  font-size: 1.5em;
  font-weight: normal;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 150%;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  color: navy;
}

a.title:hover {
  color: navy;
}

a.menu {
  color: white;
}

a.menu:hover, a.menu:active {
  color: navy;
}

#title {
  position: relative;
  z-index: 1;
  width: 100%;
/*  height: 75px;*/
  background-color: #aec7e8;
  float:left;
}

#menu {
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 2;
  width: 30%;
/*  height: 75px;*/
  background-color: #aec7e8;
  float:right;
}

#display {
  width: 100%;
  height: 100%;
  position: relative;
  float:left;
  margin-top: 10px;
}

#visualization {
  width: 80%;
  position: relative;
  float: left;
}

#info {
  width: 33%;
  height: 90%;
  position: relative;
  float: right;
}

#sort {
  width: 20%;
  position: relative;
  float: right;
  margin-top: 10;
}

#key {
  float: right;
}

#metadata {
  float: right;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.rect {
    stroke-width: 0px;
}

.mdText {
  font-size: 1em;
  line-height: 150%;
}

.legendText {
  font-size: 0.7em;
}

.faded_node {
  fill-opacity: 0.05;
}

.faded_map_node {
  fill-opacity: 0.05;
}

.active_node {
  fill-opacity: 1.0;
}

.active_map_node {
  fill-opacity: 0.6;
  stroke: black;
}

.initial {
  fill: white;
  stroke: black;
}

.active_link {
  stroke: #999;
  stroke-opacity: .6;
}

.hidden_link {
  stroke-opacity: 0;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root, {
  stroke: #000;
  pointer-events: none;
}

/* Additions for matrix diagram */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.background {
  fill: #eee;
}

line {
  stroke: #fff;
}

text.active {
  fill: red;
}

svg {
  font-size: 0.9em;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.active {
  fill: red;
  font-weight: bold;
}