{% extends "index.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block display %}
  <div id="info" style="margin-top:40px">
    {% for l in levels %}
      <a class="nav" href="{{ url_for('map', level=l) }}">{{ l }}</a>{% if l != levels[-1] %} | {% endif %}
    {% endfor %}
  </div>
{% endblock %}
{% block scripts %}
  <script src={{ url_for('static', filename='map.js') }}></script>  
  <script>
    var key_text = '{{ functions|tojson|safe }}';
    var level = '{{ level }}'
  </script>
{% endblock %}
{% block body %}
  {{ super() }}
{% endblock %}