{% extends "index.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block display %}
  <div id="visualization"></div>
    <div id="sort">
      <aside style="margin-top:40px;">
        <p>Order: <select id="order">
          <option value="name">by Name</option>
          <option value="count">by Frequency</option>
          </select>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script src={{ url_for('static', filename='matrix.js') }}></script>
{% endblock %}
{% block body %}
  {{ super() }}
{% endblock %}